@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* resetここまで */

/* グローバル */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  /* font-family: 'Raleway', helvetica, sans; */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 84%;
  margin: 0 auto;
}

@media (min-width:900px) {
  .container {
    width: 84%;
  }
}

.date {
  color: #787878;
  font-size: 16px;
}

.title {
  font-size: 23px;
}

/* ヘッダー */
.header {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 25px;
}

.header .site {
  display: flex;
  justify-content: left;
  margin: 14px 0 12px;
}

@media (min-width:900px) {
  .header .site {
    justify-content: left;
  }
}


/* コンテンツ部分 */
.content figure {
  height: 300px;
  /* background-image: url(/img/thumb.jpg); */
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

@media (min-width:900px) {
  .content .details {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }

  .content .detail{
    /* margin: 0 auto; */
    margin: 0 10px;
    width: calc(50% - 22px);
  }

  .content figure {
    height: 300px;
  }
}

.content .date {
  color: #787878;
  font-size: 16px;
  margin-bottom: 15px;
}

.content .title {
  font-size: 22px;
  line-height: 1.65;
  margin-bottom: 15px;
}

.content .category {
  display: inline-block;
  margin: 0 5px 7px 0;
  padding: 3px 8px;
  background-color: #1e1e1e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}


/* カテゴリー */
.category {
  background-color: #f0f0f0;
}

.category .container {
  border-top: 2px solid #000;

}

.category .category_area {
  margin-top: 20px;
  padding-bottom: 40px;
  
}

.category .name{
  font-size: 17px;
}


/* フッター */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 13px;
  color: #bdbdbd;
  text-align: center;
  line-height: 1.6;
}


/* 記事詳細 */
/* ヘッダー */
.post-header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 45px;
}

.post-header .title {
  margin-top: 20px;
}

/* 記事コンテンツ */
.post-content {
  max-width: 720px;
  margin: 60px auto 30px;
}

.post-content h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 80px 0 30px;
}

.post-content h2 {
  font-size: 18px;
  text-align: center;
  margin: 80px 0 30px;
}

.post-content p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 19px;
  line-height: 2;
}

.post-content code {
  box-sizing: border-box;
  width: 720px;
  /* background-color: #787878; */
  line-height: 1.67;
    /* border-radius: 15px; */
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); */
    /* overflow: hidden; */
}

.post-content .highlighter-rouge {
  width: 720px;
  background-color: #f5f5f5;
  border-left: 3px solid #666;
}

.post-content .highlight {
  padding: 20px;
}

pre {
	white-space: pre-wrap ;
  color: #787878;
}

pre code {
  font-family:Monaco,Consolas,Courier New,Courier,monospace,sans-serif;
}

.post-content p img {
  width: 100%;
  margin: 0 auto;
}