<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
        <title>{{ page.title }} | Tech campesinos</title>
    {% else %}
        <title>Tech campesinos</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <meta name="description" content="札幌のWebエンジニア。Wordpressのプラグイン開発が得意。">
    {% endif %}

    <link href="/img/favicon.png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@100;200&family=Walter+Turncoat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>